/* Utils */
/* Pages */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@media screen and (max-width: 768px) {
  .header-index {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 384px;
    width: 306px;
  }
  .header-index .logo-index {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
    height: 197px;
    width: 197px;
    border-radius: 90px;
    background-color: white;
  }
  .header-index .logo-index img {
    height: 127px;
    width: 117px;
  }
  .header-index .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    width: 233px;
  }
  .header-index .link a {
    text-decoration: none;
  }
  .header-index .link-box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 2.2em;
    color: #5E26FF;
    height: 54px;
    width: 54px;
    background-color: white;
  }

  .welcome {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
    width: 306px;
  }
  .welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .welcome-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 250px;
    font-size: 1.2em;
    color: black;
    background-color: white;
  }
  .welcome-text p {
    color: white;
    font-size: 1.4em;
  }

  .footer-fade {
    height: 320px;
    width: 100%;
    background: linear-gradient(0deg, #010039 0%, rgba(255, 121, 218, 0) 100%);
  }

  footer {
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    color: white;
    background-color: #010039;
  }
}
@media screen and (min-width: 768px) {
  .inbuild {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }

  body {
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  .inbuild {
    display: none;
  }

  .backarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    height: 25px;
    width: 25px;
    background-color: white;
  }

  .topcard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .topcard img {
    border-radius: 30px 30px 0px 0px;
    height: 255px;
    width: 269px;
    object-fit: cover;
  }
  .topcard-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: #5E26FF;
  }
  .topcard-bottom h1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    background-color: white;
    border-radius: 50px;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    width: 297px;
  }
  .link a {
    text-decoration: none;
  }
  .link-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 2.2em;
    color: #5E26FF;
    height: 54px;
    width: 54px;
    background-color: white;
  }

  .main-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 37px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0px;
    height: 37px;
    width: 37px;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    margin-left: 30px;
    height: 37px;
    width: 219px;
  }

  .presentation {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .presentation-text {
    font-size: 1.2em;
    width: 280px;
    height: 322px;
    color: white;
  }

  .diplomes {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .diplomes .grade {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 33px;
    height: 72px;
    width: 286px;
    border-radius: 30px;
  }
  .diplomes .grade-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 30px;
    height: 72px;
    width: 72px;
    background-color: #5E26FF;
  }
  .diplomes .grade-text h3 {
    font-size: 0.83em;
    padding-left: 5px;
  }
  .diplomes .grade-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 0.8em;
    color: gray;
  }

  .language {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 273px;
    margin-top: 50px;
  }
  .language-text h3 {
    font-size: 0.83em;
    padding-left: 5px;
  }
  .language-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 0.8em;
    color: gray;
  }
  .language-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 166px;
  }
  .language-box__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #5E26FF;
  }

  .hard-skills {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .hard-skills h3 {
    color: white;
  }
  .hard-skills .skill-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .hard-skills .skill-box__icon {
    font-size: 1.6em;
    padding-right: 5px;
    padding-left: 15px;
  }
  .hard-skills .skill-box-bar {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-left: 145px;
  }
  .hard-skills .skill-box-bar__progress {
    background-color: #5E26FF;
    height: 16px;
    border-radius: 16px;
    width: 80%;
  }

  .soft-skills {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 400px;
    margin-top: 50px;
  }
  .soft-skills h4 {
    margin-left: 13px;
    font-size: 0.95em;
  }
  .soft-skills .skill-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 23px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .soft-skills .skill-box-bar {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-left: 145px;
  }
  .soft-skills .skill-box-bar__progress {
    background-color: #5E26FF;
    height: 16px;
    border-radius: 16px;
  }
}
@media screen and (min-width: 768px) {
  .inbuild {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }

  body {
    visibility: hidden;
  }
}
/* Layout */
/* Base */
@media screen and (min-width: 768px) {
  html {
    background-color: #020065;
  }
}
@media screen and (max-width: 768px) {
  html {
    background-color: #020065;
  }

  body.index {
    background-image: url(/public/img/background-shapes.svg);
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  body.cv {
    background-image: url(/public/img/background-shapes-cv.svg);
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
p, a, h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
