/* Utils */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@keyframes btn-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
    background: #6935ff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
}
@keyframes pressed {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes pressed-reverse {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Layout */
@media screen and (max-width: 768px) {
  .footer-fade {
    height: 85vh;
    width: 100%;
    background: linear-gradient(0deg, rgb(1, 0, 57) 0%, rgba(255, 121, 218, 0) 100%);
  }
  footer {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    color: white;
    background-color: #010039;
  }
}
@media screen and (min-width: 768px) {
  .footer-fade {
    height: 20vh;
  }
  footer {
    display: none;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Base */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

@media screen and (min-width: 768px) {
  html {
    background-color: #020065;
    background-image: url(/public/img/background.webp);
    background-repeat: repeat;
    scroll-behavior: smooth;
  }
  .backarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    background-color: white;
    font-size: 1.4em;
    color: #020065;
    transition: width 0.2s ease-in-out;
  }
  .backarrow:hover {
    width: 80px;
  }
  .index {
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .cv {
    background-position: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .error {
    background-position: center;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  .music {
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  .body-keyboard {
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 100vh;
  }
  .main-keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  html {
    background-color: #020065;
    background-image: url(/public/img/background.webp);
    background-repeat: repeat;
    scroll-behavior: smooth;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .backarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    background-color: white;
    font-size: 1.4em;
    color: #020065;
  }
  .index {
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .cv {
    background-position: center;
    padding: 0px;
    margin: 0px;
  }
  .error {
    background-position: center;
    padding: 0px;
    margin: 0px;
  }
  .music {
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  .main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@font-face {
  font-family: "GT-Super";
  src: url(/public/fonts/GT-Super-Display-Super.woff2);
}
p, a, h3, h4, h5, div {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

h1, h2 {
  font-family: "GT-Super", sans-serif;
} /* Components */
@media screen and (max-width: 768px) {
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Dosis", sans-serif;
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background: #6441A5;
    animation: pressed-reverse 0.5s both ease;
    transition: 0.5s ease;
  }
  .btn:active {
    animation: pressed 0.5s both ease;
    transition: 0.5s ease;
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .btn-shadow {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    padding-top: 5px;
    background: #2F1E7F;
  }
  .btn-link {
    margin-top: 30px;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Dosis", sans-serif;
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    border-radius: 10px;
    height: 50px;
    width: 80px;
    background: #6441A5;
    animation: pressed-reverse 0.5s both ease;
    transition: 0.5s ease;
  }
  .btn:active {
    animation: pressed 0.5s both ease;
    transition: 0.5s ease;
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .btn-shadow {
    height: 50px;
    width: 80px;
    border-radius: 10px;
    padding-top: 5px;
    background: #2F1E7F;
  }
  .btn-link {
    margin-top: 30px;
    height: 50px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  margin-left: 30px;
  height: 37px;
  width: 219px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 37px;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0px;
  height: 37px;
  width: 37px;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 306px;
  height: 458px;
  margin-top: 50px;
}

/* Pages */
@media screen and (max-width: 768px) {
  .header-index {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 384px;
    width: 306px;
  }
  .header-index .logo-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 197px;
    width: 197px;
    border-radius: 90px;
    background-color: white;
  }
  .header-index .logo-index img {
    height: 127px;
    width: 117px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-2px -2px 2px rgb(255, 255, 255));
  }
  .welcome {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 306px;
  }
  .welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .welcome-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    height: 35px;
    width: 275px;
    font-size: 1.25em;
    color: black;
    background-color: white;
  }
  .welcome-text p {
    color: white;
    font-size: 1.3em;
  }
  .main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .visit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 57px;
    width: 227px;
    color: white;
    text-decoration: none;
    border-radius: 57px;
    font-size: 1.3em;
    background-color: #5E26FF;
  }
  .visit a {
    color: white;
    text-decoration: none;
  }
  .visit:hover {
    animation: btn-animation 150ms ease-in-out both;
  }
}
@media screen and (min-width: 768px) {
  .header-index {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 384px;
    width: 608px;
  }
  .header-index .logo-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 197px;
    width: 197px;
    border-radius: 90px;
    background-color: white;
  }
  .header-index .logo-index img {
    animation: spin ease-in-out 8s infinite;
    height: 127px;
    width: 117px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-2px -2px 2px rgb(255, 255, 255));
  }
  .welcome {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 460px;
  }
  .welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
  }
  .welcome-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 40px;
    width: 320px;
    font-size: 1.5em;
    color: black;
    background-color: white;
  }
  .welcome-text p {
    color: white;
    font-size: 1.4em;
  }
  .main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-fade {
    height: 320px;
    width: 100%;
    background: linear-gradient(0deg, rgb(1, 0, 57) 0%, rgba(255, 121, 218, 0) 100%);
  }
  footer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .topcard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .topcard img {
    border-radius: 30px 30px 0px 0px;
    height: 255px;
    width: 269px;
    object-fit: cover;
  }
  .topcard-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: #5E26FF;
  }
  .topcard-bottom h3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    background-color: white;
    border-radius: 50px;
  }
  .body-cv {
    margin: 0;
  }
  .main-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presentation {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .presentation-text {
    font-size: 1.2em;
    width: 280px;
    height: 322px;
    color: white;
  }
  .diplomes .grade {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 33px;
    height: 72px;
    width: 286px;
    border-radius: 30px;
  }
  .diplomes .grade-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 30px;
    height: 72px;
    width: 72px;
    background-color: #5E26FF;
  }
  .diplomes .grade-text h3 {
    font-size: 0.83em;
    padding-left: 5px;
  }
  .diplomes .grade-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 0.8em;
    color: gray;
  }
  .language {
    height: 273px;
  }
  .language-text h3 {
    font-size: 0.83em;
    padding-left: 5px;
  }
  .language-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 0.8em;
    color: gray;
  }
  .language-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
    height: 50px;
    width: 166px;
  }
  .language-box__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #5E26FF;
  }
  .hard-skills h3 {
    margin: 10px;
    color: white;
  }
  .hard-skills .skill-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .hard-skills .skill-box__icon {
    font-size: 1.6em;
    padding-right: 5px;
    padding-left: 15px;
  }
  .hard-skills .skill-box-bar {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-left: 145px;
  }
  .hard-skills .skill-box-bar__progress {
    background-color: #5E26FF;
    height: 16px;
    border-radius: 16px;
    width: 80%;
  }
  .soft-skills h4 {
    margin-left: 13px;
    font-size: 0.9em;
  }
  .soft-skills .skill-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 23px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .soft-skills .skill-box-bar {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-left: 145px;
  }
  .soft-skills .skill-box-bar__progress {
    background-color: #5E26FF;
    height: 16px;
    border-radius: 16px;
  }
  .portfolio h4 {
    margin-left: 13px;
    font-size: 0.9em;
  }
  .portfolio .project-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 23px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .portfolio .project-box-btn {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-bottom: 5px;
    margin-left: 145px;
    text-decoration: none;
  }
  .portfolio .project-box-btn__layout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5E26FF;
    height: 22px;
    border-radius: 16px;
  }
}
@media screen and (min-width: 768px) {
  .topcard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .topcard img {
    border-radius: 30px 30px 0px 0px;
    height: 255px;
    width: 269px;
    object-fit: cover;
  }
  .topcard-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: #5E26FF;
  }
  .topcard-bottom h3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    background-color: white;
    border-radius: 50px;
  }
  .body-cv {
    margin: 0;
  }
  .main-cv {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1050px;
  }
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 37px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0px;
    height: 37px;
    width: 37px;
  }
  .presentation-text {
    font-size: 1.2em;
    width: 280px;
    height: 322px;
    color: white;
  }
  .diplomes .grade {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 33px;
    height: 72px;
    width: 286px;
    border-radius: 30px;
  }
  .diplomes .grade-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 30px;
    height: 72px;
    width: 72px;
    background-color: #5E26FF;
  }
  .diplomes .grade-text h3 {
    font-size: 0.83em;
    padding-left: 5px;
  }
  .diplomes .grade-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 0.8em;
    color: gray;
  }
  .language-text h3 {
    font-size: 1.15em;
    padding-left: 5px;
  }
  .language-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 1em;
    color: gray;
  }
  .language-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
    height: 70px;
    width: 200px;
  }
  .language-box__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    background-color: #5E26FF;
  }
  .lang-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 350px;
  }
  .hard-skills h3 {
    margin: 10px;
    color: white;
  }
  .hard-skills .skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .hard-skills .skill-box__icon {
    font-size: 1.6em;
    padding-right: 5px;
    padding-left: 15px;
  }
  .soft-skills h4 {
    margin-left: 13px;
    font-size: 1em;
  }
  .soft-skills .skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 23px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .portfolio h4 {
    margin-left: 13px;
    font-size: 0.9em;
  }
  .portfolio .project-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    background-color: white;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .portfolio .project-box-btn {
    margin-right: 15px;
    text-decoration: none;
  }
  .portfolio .project-box-btn__layout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5E26FF;
    height: 22px;
    width: 40px;
    border-radius: 16px;
  }
}
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 45px;
  width: 250px;
  color: white;
  border-radius: 57px;
  font-size: 1.3em;
  background-color: #5E26FF;
}
.download a {
  color: white;
  text-decoration: none;
}
.download:hover {
  animation: btn-animation 150ms ease-in-out both;
}

.download-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .keyboard {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 1025px;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .keyboard-align__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .keyboard-align__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .keyboard-zone-1 {
    margin: 15px;
    width: 643px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .keyboard-zone-1__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 170px;
  }
  .keyboard-zone-2 {
    width: 645px;
    height: 215px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .keyboard-zone-3 {
    font-size: 0.75em;
    width: 130px;
    height: 300px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .keyboard-zone-3__1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 126px;
    margin-top: 1px;
  }
  .keyboard-zone-3__2 {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 126px;
    height: 83px;
    margin-top: 24px;
    margin-bottom: 68px;
  }
  .keyboard-zone-3__3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 126px;
  }
  .keyboard-zone-3__3__uparrow {
    position: absolute;
    margin-top: 217px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
  }
  .keyboard-zone-4 {
    width: 170px;
    height: 216px;
    margin-top: 85px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .keyboard-zone-4 .numpad-align__1 {
    width: 126px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .keyboard-zone-4 .numpad-align__2 {
    width: 40px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .key {
    font-family: "Dosis", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C7C6FF;
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }
  .key-tab {
    width: 56px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-space {
    width: 272px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-lock {
    width: 66px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-backspace {
    width: 85px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-enter {
    width: 69px;
    height: 40px;
    border-radius: 5px 5px 0px 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-enter2 {
    width: 59px;
    height: 40px;
    border-radius: 0 0 5px 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-LShift {
    width: 122px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-RShift {
    width: 46px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-LCtrl {
    width: 49px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-RCtrl {
    width: 58px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-bottomgeneric {
    width: 49px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-long {
    width: 40px;
    height: 83px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-long-enter {
    width: 40px;
    height: 83px;
    font-size: 0.8em;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  .key-long-0 {
    width: 83px;
    height: 40px;
    border-radius: 5px;
    background-color: #C7C6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }
  #keypressed {
    background-color: #1e1c97;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .main-keyboard {
    display: none;
  }
  .body-keyboard {
    height: 100vh;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .error-container {
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 100vh;
  }
  .error-container-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
  }
  .error-container-content-title {
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
  }
  .error-container-content-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E26FF;
    border-radius: 50px;
    height: 50px;
    width: 175px;
  }
  .error-container-content-actions a {
    color: white;
    text-decoration: none;
  }
  .error-container-content-actions:hover {
    animation: link-animation 150ms ease-in-out both;
  }
}
@media screen and (max-width: 768px) {
  .error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .error-container-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
  }
  .error-container-content-title {
    font-size: 1.1em;
    color: white;
    width: 300px;
    height: 70px;
  }
  .error-container-content-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E26FF;
    border-radius: 50px;
    height: 50px;
    width: 250px;
    margin-top: 90px;
  }
  .error-container-content-actions a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
  }
  .error-container-content-actions:hover {
    animation: link-animation 150ms ease-in-out both;
  }
}
.player {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
}
.player-cover {
  height: 200px;
  width: 200px;
  background-image: url(/public/img/music/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.player-cover:hover {
  animation: link-animation 150ms ease-in-out both;
}
.player-name {
  text-align: center;
}
.player-name-text {
  color: white;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 5px;
}
.player-name-album {
  color: lightblue;
  font-size: 1em;
  margin-top: 5px;
}
.player-durationbar-progress {
  position: absolute;
  height: 8px;
  width: 80px;
  background-color: gray;
  margin-bottom: 10px;
  border-radius: 10px;
}
.player-durationbar-background {
  height: 8px;
  width: 250px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}
.player-btn {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
}
.player-btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  color: midnightblue;
  background-color: white;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  font-size: 2em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.player-btn-prev:hover {
  animation: link-animation 150ms ease-in-out both;
}
.player-btn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  color: midnightblue;
  background-color: white;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  font-size: 2em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.player-btn-play:hover {
  animation: link-animation 150ms ease-in-out both;
}
.player-btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  color: midnightblue;
  background-color: white;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  font-size: 2em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.player-btn-next:hover {
  animation: link-animation 150ms ease-in-out both;
}

/*# sourceMappingURL=style.css.map */
