/* Utils */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@keyframes btn-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
    background: #6935ff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
}
@keyframes link-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Pages */
@media screen and (max-width: 768px) {
  .header-index {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 384px;
    width: 306px;
  }
  .header-index .logo-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 197px;
    width: 197px;
    border-radius: 90px;
    background-color: white;
  }
  .header-index .logo-index img {
    height: 127px;
    width: 117px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-2px -2px 2px white);
  }
  .header-index .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    width: 233px;
  }
  .header-index .link a {
    text-decoration: none;
    margin-top: 80px;
  }
  .header-index .link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 2.2em;
    color: #5E26FF;
    height: 54px;
    width: 54px;
    background-color: white;
  }

  .welcome {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 306px;
  }
  .welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .welcome-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 30px;
    width: 250px;
    font-size: 1.2em;
    color: black;
    background-color: white;
  }
  .welcome-text p {
    color: white;
    font-size: 1.4em;
  }

  .main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .visit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 57px;
    width: 227px;
    border-radius: 57px;
    font-size: 1.3em;
    background-color: #5E26FF;
  }
  .visit a {
    color: white;
    text-decoration: none;
  }
  .visit:hover {
    animation: btn-animation 150ms ease-in-out both;
  }

  .footer-fade {
    height: 520px;
    width: 100%;
    background: linear-gradient(0deg, #010039 0%, rgba(255, 121, 218, 0) 100%);
  }

  footer {
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    color: white;
    background-color: #010039;
  }
}
@media screen and (min-width: 768px) {
  .header-index {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 384px;
    width: 608px;
  }
  .header-index .logo-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 197px;
    width: 197px;
    border-radius: 90px;
    background-color: white;
  }
  .header-index .logo-index img {
    height: 127px;
    width: 117px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-2px -2px 2px white);
  }
  .header-index .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    width: 233px;
  }
  .header-index .link a {
    text-decoration: none;
    margin-top: 80px;
  }
  .header-index .link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 2.2em;
    color: #5E26FF;
    height: 54px;
    width: 54px;
    background-color: white;
  }

  .welcome {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 460px;
  }
  .welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .welcome-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 30px;
    width: 250px;
    font-size: 1.2em;
    color: black;
    background-color: white;
  }
  .welcome-text p {
    color: white;
    font-size: 1.4em;
  }

  .main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .visit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 57px;
    width: 227px;
    border-radius: 57px;
    font-size: 1.3em;
    background-color: #5E26FF;
  }
  .visit a {
    color: white;
    text-decoration: none;
  }
  .visit:hover {
    animation: btn-animation 150ms ease-in-out both;
  }

  .footer-fade {
    height: 320px;
    width: 100%;
    background: linear-gradient(0deg, #010039 0%, rgba(255, 121, 218, 0) 100%);
  }

  footer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .backarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    background-color: white;
    font-size: 1.4em;
    color: #020065;
  }

  .topcard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .topcard img {
    border-radius: 30px 30px 0px 0px;
    height: 255px;
    width: 269px;
    object-fit: cover;
  }
  .topcard-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: #5E26FF;
  }
  .topcard-bottom h1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    background-color: white;
    border-radius: 50px;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    width: 297px;
  }
  .link a {
    text-decoration: none;
    margin-top: 60px;
  }
  .link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 2.2em;
    color: #5E26FF;
    height: 54px;
    width: 54px;
    background-color: white;
  }
  .link-box:hover {
    animation: link-animation 150ms ease-in-out both;
  }

  .main-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 37px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0px;
    height: 37px;
    width: 37px;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    margin-left: 30px;
    height: 37px;
    width: 219px;
  }

  .presentation {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .presentation-text {
    font-size: 1.2em;
    width: 280px;
    height: 322px;
    color: white;
  }

  .diplomes {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .diplomes .grade {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 33px;
    height: 72px;
    width: 286px;
    border-radius: 30px;
  }
  .diplomes .grade-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 30px;
    height: 72px;
    width: 72px;
    background-color: #5E26FF;
  }
  .diplomes .grade-text h3 {
    font-size: 0.83em;
    padding-left: 5px;
  }
  .diplomes .grade-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 0.8em;
    color: gray;
  }

  .language {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 273px;
    margin-top: 50px;
  }
  .language-text h3 {
    font-size: 0.83em;
    padding-left: 5px;
  }
  .language-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 0.8em;
    color: gray;
  }
  .language-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
    height: 50px;
    width: 166px;
  }
  .language-box__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #5E26FF;
  }

  .hard-skills {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .hard-skills h3 {
    color: white;
  }
  .hard-skills .skill-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .hard-skills .skill-box__icon {
    font-size: 1.6em;
    padding-right: 5px;
    padding-left: 15px;
  }
  .hard-skills .skill-box-bar {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-left: 145px;
  }
  .hard-skills .skill-box-bar__progress {
    background-color: #5E26FF;
    height: 16px;
    border-radius: 16px;
    width: 80%;
  }

  .soft-skills {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 400px;
    margin-top: 50px;
  }
  .soft-skills h4 {
    margin-left: 13px;
    font-size: 0.9em;
  }
  .soft-skills .skill-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 23px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .soft-skills .skill-box-bar {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-left: 145px;
  }
  .soft-skills .skill-box-bar__progress {
    background-color: #5E26FF;
    height: 16px;
    border-radius: 16px;
  }

  .portfolio {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .portfolio h4 {
    margin-left: 13px;
    font-size: 0.9em;
  }
  .portfolio .project-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 23px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .portfolio .project-box-btn {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-bottom: 5px;
    margin-left: 145px;
    text-decoration: none;
  }
  .portfolio .project-box-btn__layout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5E26FF;
    height: 22px;
    border-radius: 16px;
  }
}
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 45px;
  width: 250px;
  border-radius: 57px;
  font-size: 1.3em;
  background-color: #5E26FF;
}
.download a {
  color: white;
  text-decoration: none;
}
.download:hover {
  animation: btn-animation 150ms ease-in-out both;
}

.download-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .backarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    background-color: white;
    font-size: 1.4em;
    color: #020065;
  }

  .topcard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .topcard img {
    border-radius: 30px 30px 0px 0px;
    height: 255px;
    width: 269px;
    object-fit: cover;
  }
  .topcard-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: #5E26FF;
  }
  .topcard-bottom h1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    background-color: white;
    border-radius: 50px;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    width: 297px;
  }
  .link a {
    text-decoration: none;
    margin-top: 60px;
  }
  .link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 2.2em;
    color: #5E26FF;
    height: 54px;
    width: 54px;
    background-color: white;
  }
  .link-box:hover {
    animation: link-animation 150ms ease-in-out both;
  }

  .main-cv {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 37px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0px;
    height: 37px;
    width: 37px;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    margin-left: 30px;
    height: 37px;
    width: 219px;
  }

  .presentation {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .presentation-text {
    font-size: 1.2em;
    width: 280px;
    height: 322px;
    color: white;
  }

  .diplomes {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .diplomes .grade {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 33px;
    height: 72px;
    width: 286px;
    border-radius: 30px;
  }
  .diplomes .grade-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 30px;
    height: 72px;
    width: 72px;
    background-color: #5E26FF;
  }
  .diplomes .grade-text h3 {
    font-size: 0.83em;
    padding-left: 5px;
  }
  .diplomes .grade-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 0.8em;
    color: gray;
  }

  .language {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .language-text h3 {
    font-size: 1.15em;
    padding-left: 5px;
  }
  .language-text p {
    padding-left: 5px;
    margin-top: -15px;
    font-size: 1em;
    color: gray;
  }
  .language-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
    height: 70px;
    width: 200px;
  }
  .language-box__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    background-color: #5E26FF;
  }

  .lang-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 350px;
  }

  .hard-skills {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .hard-skills h3 {
    color: white;
  }
  .hard-skills .skill-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .hard-skills .skill-box__icon {
    font-size: 1.6em;
    padding-right: 5px;
    padding-left: 15px;
  }
  .hard-skills .skill-box-bar {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-left: 145px;
  }
  .hard-skills .skill-box-bar__progress {
    background-color: #5E26FF;
    height: 16px;
    border-radius: 16px;
    width: 80%;
  }

  .soft-skills {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .soft-skills h4 {
    margin-left: 13px;
    font-size: 0.9em;
  }
  .soft-skills .skill-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 23px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .soft-skills .skill-box-bar {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-left: 145px;
  }
  .soft-skills .skill-box-bar__progress {
    background-color: #5E26FF;
    height: 16px;
    border-radius: 16px;
  }

  .portfolio {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 306px;
    height: 458px;
    margin-top: 50px;
  }
  .portfolio h4 {
    margin-left: 13px;
    font-size: 0.9em;
  }
  .portfolio .project-box {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 23px;
    border-radius: 35px;
    height: 35px;
    width: 253px;
  }
  .portfolio .project-box-btn {
    position: absolute;
    background-color: #c9c9c9;
    height: 16px;
    width: 100px;
    border-radius: 16px;
    margin-bottom: 5px;
    margin-left: 145px;
    text-decoration: none;
  }
  .portfolio .project-box-btn__layout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5E26FF;
    height: 22px;
    border-radius: 16px;
  }
}
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 45px;
  width: 250px;
  border-radius: 57px;
  font-size: 1.3em;
  background-color: #5E26FF;
}
.download a {
  color: white;
  text-decoration: none;
}
.download:hover {
  animation: btn-animation 150ms ease-in-out both;
}

.fa-circle-notch {
  animation: spin 2s linear infinite both;
}

.keyboard {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 1025px;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.keyboard-align__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.keyboard-align__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.keyboard-zone-1 {
  margin: 15px;
  width: 643px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.keyboard-zone-1__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 170px;
}
.keyboard-zone-2 {
  width: 645px;
  height: 215px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.keyboard-zone-3 {
  font-size: 0.75em;
  width: 130px;
  height: 300px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.keyboard-zone-3__1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 126px;
  margin-top: 1px;
}
.keyboard-zone-3__2 {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 126px;
  height: 83px;
  margin-top: 24px;
  margin-bottom: 68px;
}
.keyboard-zone-3__3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 126px;
}
.keyboard-zone-3__3__uparrow {
  position: absolute;
  margin-top: 217px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
}
.keyboard-zone-4 {
  width: 170px;
  height: 216px;
  margin-top: 85px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.keyboard-zone-4 .numpad-align__1 {
  width: 126px;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.keyboard-zone-4 .numpad-align__2 {
  width: 40px;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.key {
  font-family: "Dosis", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
  background-color: #C7C6FF;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.key-tab {
  width: 56px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-space {
  width: 272px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-lock {
  width: 66px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-backspace {
  width: 85px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-enter {
  width: 69px;
  height: 40px;
  border-radius: 5px 5px 0px 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-enter2 {
  width: 59px;
  height: 40px;
  border-radius: 0 0 5px 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-LShift {
  width: 122px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-RShift {
  width: 46px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-LCtrl {
  width: 49px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-RCtrl {
  width: 58px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-bottomgeneric {
  width: 49px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-long {
  width: 40px;
  height: 83px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-long-enter {
  width: 40px;
  height: 83px;
  font-size: 0.8em;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}
.key-long-0 {
  width: 83px;
  height: 40px;
  border-radius: 5px;
  background-color: #C7C6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(255, 255, 255, 0.3);
}

.Error {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.Error-short {
  margin-top: 5px;
  margin-right: 5px;
  height: 65px;
  min-width: 255px;
  border-radius: 65px;
}
.Error-medium {
  margin-top: 5px;
  margin-right: 5px;
  height: 65px;
  min-width: 350px;
  border-radius: 65px;
}
.Error-long {
  margin-top: 5px;
  margin-right: 5px;
  height: 65px;
  min-width: 400px;
  border-radius: 65px;
}
.Error-light {
  background-color: #C8B5FF;
}
.Error-dark {
  background-color: #5E26FF;
}
.Error-container {
  color: white;
}
.Error-container-title {
  font-size: 8em;
}
.Error-container-desc {
  font-size: 1.5em;
}

/* Layout */
/* Base */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

@media screen and (min-width: 768px) {
  html {
    background-color: #020065;
    scroll-behavior: smooth;
  }

  .index {
    background-image: url(/public/img/background-shapes-desktop.svg);
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .body-keyboard {
    background-image: url(/public/img/background-shapes-cv.svg);
    background-position: center;
    padding: 0px;
    margin: 0px;
  }

  .main-keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cv {
    background-image: url(/public/img/background-shapes-cv.svg);
    background-position: center;
    padding: 0px;
    margin: 0px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  html {
    background-color: #020065;
    scroll-behavior: smooth;
  }

  .index {
    background-image: url(/public/img/background-shapes.svg);
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .keyboard {
    background-image: url(/public/img/background-shapes-cv.svg);
    background-position: center;
    padding: 0px;
    margin: 0px;
  }

  .cv {
    background-image: url(/public/img/background-shapes-cv.svg);
    background-position: center;
    padding: 0px;
    margin: 0px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
p, a, h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
