// Mobile Version
@media screen and (max-width: 768px) {
    .btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Dosis', sans-serif;
        position: absolute;
        text-decoration: none;
        color: #fff;
        font-size: 1.8em;
        border-radius: 10px;
        height: 50px;
        width: 50px;
        background: $color-btn;
        animation: pressed-reverse 0.5s both ease;
        transition: 0.5s ease;
        &:active{
            animation: pressed 0.5s both ease;
            transition: 0.5s ease;
            box-shadow: inset 0px -5px 5px 0px rgba($color: black, $alpha: 0.2);
        }
        &-shadow{
            height: 50px;
            width: 50px;
            border-radius: 10px;
            padding-top: 5px;
            background: $color-btn-shadow;
        }
        &-link{
            height: 50px;
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
        }
    }
}

// Desktop Version
@media screen and (min-width: 768px) {
    .btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Dosis', sans-serif;
        position: absolute;
        text-decoration: none;
        color: #fff;
        font-size: 1.8em;
        border-radius: 10px;
        height: 50px;
        width: 80px;
        background: $color-btn;
        animation: pressed-reverse 0.5s both ease;
        transition: 0.5s ease;
        &:active{
            animation: pressed 0.5s both ease;
            transition: 0.5s ease;
            box-shadow: inset 0px -5px 5px 0px rgba($color: black, $alpha: 0.2);
        }
        &-shadow{
            height: 50px;
            width: 80px;
            border-radius: 10px;
            padding-top: 5px;
            background: $color-btn-shadow;
        }
        &-link{
            height: 50px;
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
        }
    }
}