// Utility Classes
    .hidden{
        display: none !important;
        visibility: hidden !important;
    }
// Desktop Version
@media screen and (min-width: 768px) {
    html{
        background-color: $color-background;
        background-image: url(/public/img/background.png);
        background-repeat: repeat;
        scroll-behavior: smooth;
    }
    .index{
        background-position: center;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .cv{
        background-position: center;
        padding: 0px;
        margin: 0px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .error{
        background-position: center;
        height: 100vh;
        padding: 0px;
        margin: 0px;
    }

    .music{
        background-position: center;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    .body-keyboard{
        background-position: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        height: 100vh;
    }
    
    .main-keyboard{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

// Mobile Version
@media screen and (max-width: 768px) {
    html{
        background-color: $color-background;
        scroll-behavior: smooth;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .index{
        background-image: url(/public/img/background-shapes.svg);
        background-position: center;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .cv{
        background-image: url(/public/img/background-shapes.svg);
        background-position: center;
        padding: 0px;
        margin: 0px;
    }

    .error{
        background-image: url(/public/img/background-shapes.svg);
        background-position: center;
        padding: 0px;
        margin: 0px;
    }

    .music{
        background-image: url(/public/img/background-shapes.svg);
        background-position: center;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    .main-index{
        @include flex-center;
        flex-direction: column;
    }
}