// Static CSS
.download{
    @include flex-center;
    margin-top: 50px;
    height: 45px;
    width: 250px;
    color: white;

    border-radius: 57px;
    font-size: 1.3em;
    background-color: $color-primary;
    a{
        color: white;
        text-decoration: none;
    }
    &:hover{
        animation: btn-animation 150ms ease-in-out both;
    }
    &-align{
        @include flex-center;
    }
}

// Mobile Version
@media screen and (max-width: 768px) {
    .topcard{
        margin-top: 50px;
        @include flex-center;
        flex-direction: column;
        img{
            border-radius: 30px 30px 0px 0px;
            height: 255px;
            width: 269px;
            object-fit: cover;
        }
        &-bottom{
            @include flex-center;
            width: 269px;
            height: 70px;
            border-radius: 0px 0px 30px 30px;
            background-color: $color-primary;
            h3{
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 5px;
                padding-bottom: 5px;

                font-size: 1.2em;
                background-color: white;
                border-radius: 50px;
            }
        }
    }
    .cv{
        background-position: center;
        padding: 0px;
        margin: 0px;
        &-main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .presentation{
        @include glass-effect;
        @include flex-center;
        flex-direction: column;
        width: 306px;
        height: 458px;
        margin-top: 50px;
        &-text{
            font-size: 1.2em;
            width: 280px;
            height: 322px;
            color: white;
        }
    }
    .diplomes{
        .grade{
            display: flex;
            align-items: center;
            background-color: white;
            margin-top: 33px;
            height: 72px;
            width: 286px;
            border-radius: 30px;
            &-icon{
                @include flex-center;
                font-size: 2em;
                color: white;
                border-radius: 30px;
                height: 72px;
                width: 72px;
                background-color: $color-primary;
            }
            &-text{
                h3{
                    font-size: 0.83em;
                    padding-left: 5px;
                }
                p{
                    
                    padding-left: 5px;
                    margin-top: -15px;
                    font-size: 0.8em;
                    color: gray;
                }
            }
        }
    }
    .language{
        height: 273px;
        &-text{
            h3{
                font-size: 0.83em;
                padding-left: 5px;
            }
            p{
                
                padding-left: 5px;
                margin-top: -15px;
                font-size: 0.8em;
                color: gray;
            }
        }
        &-box{
            display: flex;
            align-items: center;

            margin-top: 10px;
            background-color: white;
            border-radius: 15px;
            height: 50px;
            width: 166px;
            &__icon{
                @include flex-center;
                font-size: 2em;
                color: white;
                border-radius: 10px;
                height: 50px;
                width: 50px;
                background-color: $color-primary;
            }
        }
    }
    .hard-skills{
        h3{
            margin: 10px;
            color: white;
        }
        .skill-box{
            @include flex-center;

            background-color: white;
            margin-top: 5px;
            border-radius: 35px;
            height: 35px;
            width: 253px;
            &__icon{
                font-size: 1.6em;
                padding-right: 5px;
                padding-left: 15px;
            }
        }
    }
    .soft-skills{
        h4{
            margin-left: 13px;
            font-size: 0.90em;
        }
        .skill-box{
            @include flex-center;

            background-color: white;
            margin-top: 23px;
            border-radius: 35px;
            height: 35px;
            width: 253px;
        }
    }
    .portfolio{
        h4{
            margin-left: 13px;
            font-size: 0.90em;
        }
        .project-box{
            display: flex;
            align-items: center;

            background-color: white;
            margin-top: 23px;
            border-radius: 35px;
            height: 35px;
            width: 253px;
            &-btn{
                position: absolute;
                background-color: $color-skill;
                height: 16px;
                width: 100px;
                border-radius: 16px;
                margin-bottom: 5px;
                margin-left: 145px;
                text-decoration: none;
                &__layout{
                    @include flex-center;
                    color: white;
                    background-color: $color-primary;
                    height: 22px;
                    border-radius: 16px;
                }
            }
        }
    }
}

// Desktop Version
@media screen and (min-width: 768px) {
    .topcard{
        margin-top: 50px;
        @include flex-center;
        flex-direction: column;
        img{
            border-radius: 30px 30px 0px 0px;
            height: 255px;
            width: 269px;
            object-fit: cover;
        }
        &-bottom{
            @include flex-center;
            width: 269px;
            height: 70px;
            border-radius: 0px 0px 30px 30px;
            background-color: $color-primary;
            h3{
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 5px;
                padding-bottom: 5px;

                font-size: 1.2em;
                background-color: white;
                border-radius: 50px;
            }
        }
    }
    .cv{
        background-position: center;
        padding: 0;
        margin: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-main{
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 1050px;
        }
    }
    .presentation{
        &-text{
            font-size: 1.2em;
            width: 280px;
            height: 322px;
            color: white;
        }
    }
    .diplomes{
        .grade{
            display: flex;
            align-items: center;
            background-color: white;
            margin-top: 33px;
            height: 72px;
            width: 286px;
            border-radius: 30px;
            &-icon{
                @include flex-center;
                font-size: 2em;
                color: white;
                border-radius: 30px;
                height: 72px;
                width: 72px;
                background-color: $color-primary;
            }
            &-text{
                h3{
                    font-size: 0.83em;
                    padding-left: 5px;
                }
                p{
                    
                    padding-left: 5px;
                    margin-top: -15px;
                    font-size: 0.8em;
                    color: gray;
                }
            }
        }
    }
    .language{
        &-text{
            h3{
                font-size: 1.15em;
                padding-left: 5px;
            }
            p{
                
                padding-left: 5px;
                margin-top: -15px;
                font-size: 1em;
                color: gray;
            }
        }
        &-box{
            display: flex;
            align-items: center;
            margin-top: 10px;
            background-color: white;
            border-radius: 15px;
            height: 70px;
            width: 200px;
            &__icon{
                @include flex-center;
                font-size: 3em;
                color: white;
                border-radius: 10px;
                height: 70px;
                width: 70px;
                background-color: $color-primary;
            }
        }
    }
    .lang-align{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 350px;
    }
    .hard-skills{
        h3{
            margin: 10px;
            color: white;
        }
        .skill-box{
            @include flex-center;

            background-color: white;
            margin-top: 5px;
            border-radius: 35px;
            height: 35px;
            width: 253px;
            &__icon{
                font-size: 1.6em;
                padding-right: 5px;
                padding-left: 15px;
            }
        }
    }
    .soft-skills{
        h4{
            margin-left: 13px;
            font-size: 1em;
        }
        .skill-box{
            @include flex-center;
            background-color: white;
            margin-top: 23px;
            border-radius: 35px;
            height: 35px;
            width: 253px;
        }
    }
    .portfolio{
            h4{
                margin-left: 13px;
                font-size: 0.90em;
            }
            .project-box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 15px;
                background-color: white;
                border-radius: 35px;
                height: 35px;
                width: 253px;
                &-btn{
                    margin-right: 15px;
                    text-decoration: none;
                    &__layout{
                        @include flex-center;
                        color: white;
                        background-color: $color-primary;
                        height: 22px;
                        width: 40px;
                        border-radius: 16px;
                    }
                }
            }
        }
    }