@media screen and (min-width: 700px){
    .leftside-cv{
        display: flex;
        align-items: center;
        flex-direction: column;

        background-color: $color-secondary;

        width: 750px;
        position: fixed;
        top: 0;
        bottom: 0;

        &-link{
            margin-top: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-backarrow{
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            font-size: 2em;
            background-color: $color-background;
            color: black;
            border-radius: 50%;

            margin-top: 15px;
            margin-left: -350px;

            height: 50px;
            width: 50px;
        }

        &-card{
            margin-top: -50px;
            margin-bottom: -80px;
            &__image{
                margin-top: 150px;
                border-radius: 50px 50px 0px 0px;
                height: 350px;
                width: 450px;
                object-fit: cover;
                margin-bottom: -5px;
            }
            &-bottom{
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 150px;
                width: 450px;
                border-radius: 0px 0px 50px 50px;
                background-color: $color-primary;
                &__name{
                    font-size: 1.8em;
                    margin-top: 25px;
                    background-color: white;

                    display: flex;
                    justify-content: center;

                    width: 350px;
                    padding: 5px;

                    border-radius: 50px;
                }
                &__age{
                    font-size: 1.8em;
                    background-color: white;

                    display: flex;
                    justify-content: center;

                    width: 150px;
                    padding: 5px;
                    margin-top: 7px;
                    margin-left: -80px;

                    border-radius: 50px;
                }
            }
        }
    }
    .card-cv{
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        border-radius: 20px;
        height: auto;
        width: 515px;
        
        margin-left: 1000px;
        margin-top: 200px;
        background-color: $color-background;
        box-shadow:  2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            margin: 15px;
            border-radius: 25px;
            height: 35px;
            width: 300px;
        }
        p{
            margin: 15px;
            font-size: 1.6em;
        }
        &-bottom{
            margin-top: 15px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            background-color: $color-primary;
            color: white;
            height: 80px;
            font-size: 2.5em;
            border-radius: 0px 0px 20px 20px;
        }
    }
}