@media screen and (max-width: 700px){
    .leftside{
        display: flex;
        align-items: center;
        flex-direction: column;
    
        background-color: $color-secondary;
    
        width: 375px;
        height: 812px;
    
        &-logo-box{
            box-shadow:  4px 4px 4px #bebebe, -4px -4px 4px #ffffff;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            margin-top: 150px;
    
            height: 234px;
            width: 234px;
            border-radius: 90px;
    
            background-color: $color-background;
            img{
                height: 152px;
                width: 138px;
            }
        }
        &-link{
            margin-top: 200px;
            display: flex;
            align-items: center;
    
            &-box{
                margin: 10px;
                border-radius: 40px;
                box-shadow:  2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
    
                height: 65px;
                width: 65px;
    
                background-color: white;
    
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size: 2.5em;
                    color: $color-primary;
                }
            }
        }
    }
    .mobile-alignment{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .card{
    
        height: 600px;

        border-radius: 0px 0px 30px 30px;
        box-shadow:  2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
        background-color: $color-background;
        
        h1{
            padding: 15px; 
            font-size: 1.9em;
        }

        &-text{
            font-size: 1.4em;
            padding: 15px;
        }
    }
    
    .bottom-card{
        background-color: $color-primary;
        border-radius: 0px 0px 30px 30px;
        height: 82px;
        margin-top: -30px;
    }
    
}