// Mobile Version
@media screen and (max-width: 768px) {
    .header-index{
        margin-top: 20px;
        @include glass-effect;
        @include flex-center;
        flex-direction: column;
        height: 384px;
        width: 306px;
        .logo-index{
            @include flex-center;
            height: 197px;
            width: 197px;
            border-radius: 90px;
            background-color: white;
            img{
                height: 127px;
                width: 117px;
                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-2px -2px 2px rgba(255, 255, 255, 1));
            }
        }
    }
    .welcome{
        margin-top: 20px;
        @include glass-effect;
        width: 306px;
        &-text{
            @include flex-center;
            flex-direction: column;
            padding: 10px;
            h1{
                @include flex-center;
                border-radius: 35px;
                height: 35px;
                width: 275px;
                font-size: 1.25em;
                color: black;
                background-color: white;
            }
            p{
                color: white;
                font-size: 1.3em;
            }
        }
    }
    .main-index{
        @include flex-center;
        flex-direction: column;
    }
    .visit{
        @include flex-center;
        margin-top: 50px;
        height: 57px;
        width: 227px;

        color: white;
        text-decoration: none;

        border-radius: 57px;
        font-size: 1.3em;
        background-color: $color-primary;
        a{
            color: white;
            text-decoration: none;
        }
        &:hover{
            animation: btn-animation 150ms ease-in-out both;
        }
    }
}

// Desktop Version
@media screen and (min-width: 768px) {
    .header-index{
        margin-top: 20px;
        @include glass-effect;
        @include flex-center;
        flex-direction: column;
        height: 384px;
        width: 608px;
        .logo-index{
            @include flex-center;
            height: 197px;
            width: 197px;
            border-radius: 90px;
            background-color: white;
            img{
                animation: spin ease-in-out 8s infinite;
                height: 127px;
                width: 117px;
                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-2px -2px 2px rgba(255, 255, 255, 1));
            }
        }
    }
    .welcome{
        margin-top: 20px;
        @include glass-effect;
        width: 460px;
        &-text{
            @include flex-center;
            flex-direction: column;
            padding: 15px;
            h1{
                @include flex-center;
                border-radius: 40px;
                height: 40px;
                width: 320px;
                font-size: 1.5em;
                color: black;
                background-color: white;
            }
            p{
                color: white;
                font-size: 1.4em;
            }
        }
    }
    .main-index{
        @include flex-center;
        flex-direction: column;
    }
    .footer-fade{
        height: 320px;
        width: 100%;
        background: linear-gradient(0deg, rgba(1,0,57,1) 0%, rgba(255,121,218,0) 100%);
    }
    footer{
        display: none;
    }
}