// Mobile Version
@media screen and (max-width: 768px) {
    .header-index{
        margin-top: 20px;
        @include glass-effect;
        @include neumorphism;
        @include flex-center;
        flex-direction: column;
        height: 384px;
        width: 306px;
        .logo-index{
            @include flex-center;
            @include neumorphism;
            height: 197px;
            width: 197px;
            border-radius: 90px;
            background-color: white;
            img{
                height: 127px;
                width: 117px;
            }
        }
        .link{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 54px;
            width: 233px;
            a{
                text-decoration: none;
                margin-top: 80px;
            }
            &-box{
                @include flex-center;
                border-radius: 16px;
                font-size: 2.2em;
                color: $color-primary;
                height: 54px;
                width: 54px;
                background-color: white;
            }
        }
    }
    .welcome{
        margin-top: 20px;
        @include glass-effect;
        @include neumorphism;
        width: 306px;
        &-text{
            @include flex-center;
            flex-direction: column;
            padding: 10px;
            h1{
                @include flex-center;
                border-radius: 15px;
                height: 30px;
                width: 250px;
                font-size: 1.2em;
                color: black;
                background-color: white;
            }
            p{
                color: white;
                font-size: 1.4em;
            }
        }
    }
    .visit{
        @include flex-center;
        margin-top: 50px;
        height: 57px;
        width: 227px;

        border-radius: 57px;
        font-size: 1.3em;
        background-color: $color-primary;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .footer-fade{
        height: 520px;
        width: 100%;
        background: linear-gradient(0deg, rgba(1,0,57,1) 0%, rgba(255,121,218,0) 100%);
    }
    footer{
        height: 95px;
        width: 100%;
        @include flex-center;
        line-height: 1px;
        color: white;
        background-color: $color-footer;
    }
}

@media screen and (min-width: 768px) {
    .inbuild{
        color: white;
        @include flex-center;
        visibility: visible; 
    }
    body{
        visibility: hidden;
    }
}