@keyframes btn-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background: lighten($color-primary, 3);
        box-shadow:  4px 4px 4px rgba($color: black, $alpha: 0.3)
    }
}
@keyframes link-animation {
    0% {
        transform: translateX(0px);
        transform: translateY(0px);
    }
    100% {
        transform: translateX(-5px);
        transform: translateY(-5px);
        box-shadow: 4px 4px 4px rgba($color: black, $alpha: 0.3)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}