// Color palette
$color-primary: #5E26FF;
$color-secondary: #C8B5FF;
$color-background: #020065;
// Footer color
$color-footer: #010039;
// Keyboard keys color
$color-key: #C7C6FF;
$color-key-pressed: #1e1c97;
// Buttons Colors
$color-btn: #6441A5;
$color-btn-shadow: #2F1E7F;